<h1 class="title is-1 p-1" style="text-align: center;">
    <a href="/">Моя библиотека</a>
</h1>

<div class="py-1" style="text-align: center;">
    <a class="button is-primary" href="/create %>">Добавить книгу</a>
</div>