<%- include("./partials/header", {title: title}) %>
<%- include("./partials/menu") %>

<div class="columns is-centered is-multiline" style="margin: auto;">
    <div class="column is-half">
        <%- include("form", {book: book}) %>
    </div>
</div>

<%- include("./partials/footer") %>
