<%- include("../partials/header", {title: title}) %>
<%- include("../partials/menu") %>

<h1 class="title is-1 p-2">
    <a href="/">Нет такой страницы. Нажмите, чтобы перейти на главную</a>
</h1>

<%- include("../partials/footer") %>