<script src="/socket.io/socket.io.js"></script>

<span style="margin: auto;">
<div class="form-group">
    <div class="field">
        <label for="text">Комментировать</label>
        <textarea required
        rows="3"
        name="comment"
        class="textarea is-primary"
        placeholder="message" 
        id="text"></textarea>
    </div>
</div>

<button type="submit" id="send-room" class="button is-primary">Комментировать</button>
</span>

<hr>
<h2 style="margin: auto;">Комментарии</h2>
<ul style="margin: auto;" id="comments">
    
</ul>

<script>
    const roomName = '<%= id %>';
    const socket = io.connect('/', {query: `roomName=${roomName}`});
    const inputText = document.querySelector('#text');
    const sendRoom = document.querySelector('#send-room');
    const boxList = document.querySelector('#comments');

    const getTmp = (msg) => {
        return `
                <li class="list-group-item list-group-item-action">
                    <p class="mb-1">${msg.text}</p>
                </li>
        `;
    };

    socket.on('message-to-room', (msg) => {
        const div = getTmp(msg);
        boxList.insertAdjacentHTML('beforeend', div);
    });

    sendRoom.addEventListener('click', () => {
        socket.emit('message-to-room', {
            text: inputText.value,
        });
    });
</script>